{% extends 'authenticate/base.html' %}

{% block content %}
    <h1 class="text-center">Register</h1>
    <br>
    <br>

    <div class="col-md-6 offset-md-3">
        <form method="POST" action="{% url 'register' %}">
            {% csrf_token %}
            {% if form.errors %}
                <p>Your form is errors...</p>
            {% endif %}

            {{ form.as_p }}

            <input class="btn btn-secondary" type="submit" value="Register">
        </form>
    </div>
{% endblock %}
